<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">

		<p>
			{{#link-to 'tasks.new' class="btn btn-info btn-block"}}
				Nueva tarea
			{{/link-to}}
		</p>

		<p>
			{{input value=query class="form-control"}}
		</p>

		<p>
			{{tasksCountLabel}}
		</p>

			<div class="list-group">

				{{#each filteredModel as |item|}}

					{{#link-to 'task' item.id class="list-group-item"}}
						<button {{action 'destroyTask' item on='click' bubbles=false}} class="badge btn">X</button>

						<h4>{{item.title}}</h4>
						<p>{{item.description}}</p>
					{{/link-to}}


					{{/each}}
			</div>


		</div>
	</div>
</div>




